{
  "plugins": ["standard", "react"],
  "extends": ["standard", "plugin:prettier/recommended"],
  "rules": {
    "no-var": "error", // optional, recommended when using es6+
    "no-unused-vars": 1, // recommended
    "arrow-spacing": ["error", { "before": true, "after": true }], // recommended
    "comma-dangle": [
      "error",
      {
        "objects": "only-multiline",
        "arrays": "only-multiline",
        "imports": "never",
        "exports": "never",
        "functions": "never"
      }
    ],
    "strict": [0],

    // options to emulate prettier setup
    "semi": ["error", "never"],
    "max-len": ["error", { "code": 120 }],
    "arrow-parens": ["error", "as-needed"],

    // standard plugin - options
    "standard/object-curly-even-spacing": ["error", "either"],
    "standard/array-bracket-even-spacing": ["error", "either"],
    "standard/computed-property-even-spacing": ["error", "even"],
    "standard/no-callback-literal": ["error", ["cb", "callback"]],

    // react plugin - options
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error"
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 8 // optional, recommended 6+
  },
  "settings": {
    "import/resolver": {
      "alias": [
        ["re", "./lib/es6/re"],
        ["src", "./src"],
        ["static", "./static"]
      ]
    }
  }
}
